<form action="/" method="post">
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" id="originalURL" placeholder="請輸入您想要縮短的網址" name="originURL" required>
    </div>
  </div>
  <button type="submit" class="btn btn-success w-100 mx-auto">送出</button>
</form>